<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>乐途旅行</title>
    <link rel="stylesheet" href="/static/css/about/information.css">
    <link rel="stylesheet" href="/static/css/basic.css">
    <link rel="stylesheet" href="/static/css/about/about.css">
    <script src="/static/js/jquery.js"></script>
</head>

<body>
    <header id="header">
        <div class="center">
            <h1 class="logo">
                <a href="/user" id="logoA">乐途旅行网</a>
            </h1>
            <nav>
                <ul class="link">
                    <h1 class="none">网站导航</h1>
                    <li><a href="/user">首页</a></li>
                    <li><a href="/scenic">景点门票</a></li>
                    <li><a href="/trip">交通出行</a></li>
                    <li><a href="/hotel">酒店预定</a></li>
                    <li class="active"><a href="/about">关于我们</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="headline">
        <div class="center">
            <hgroup>
                <h3>旅游合同签订方式？</h3>
            </hgroup>

        </div>
    </div>
    <div id="container">
        <aside class="sidebar">
            <div class="sidebox recommend">
                <h2>美景推荐</h2>
                <div class="tag">
                    <a href="###">陕西(10)</a>
                    <a href="###">四川(10)</a>
                    <a href="###">浙江(10)</a>
                    <a href="###">广东(10)</a>
                    <a href="###">云南(10)</a>
                    <a href="###">江苏(10)</a>
                    <a href="###">山东(10)</a>
                    <a href="###">河南(10)</a>
                    <a href="###">湖北(10)</a>
                    <a href="###">甘肃(10)</a>
                    <a href="###">河北(10)</a>
                    <a href="###">湖南(10)</a>
                    <a href="###">广西(10)</a>
                    <a href="###">新疆(10)</a>
                    <a href="###">内蒙古(10)</a>
                    <a href="###">北京(10)</a>
                    <a href="###">海南(10)</a>
                    <a href="###">贵州(10)</a>
                    <a href="###">安徽(10)</a>
                    <a href="###">青海(10)</a>
                    <a href="###">上海(10)</a>
                </div>

            </div>
            <div class="sidebox popular">
                <h2>热卖旅游</h2>
                <div class="figure">
                    <figure>
                        <img src="/static/images/recommend/xian.jpg" alt="西安 2 日游">
                        <figcaption>西安 2 日游</figcaption>
                    </figure>
                    <figure> <img src="/static/images/recommend/beijing.jpg" alt="北京 5日 4晚 游">
                        <figcaption>北京 5日 4晚 游</figcaption>
                    </figure>
                    <figure> <img src="/static/images/recommend/zhejiang.jpg" alt="浙江双飞 3 日游">
                        <figcaption>浙江双飞 3 日游</figcaption>
                    </figure>
                    <figure> <img src="/static/images/recommend/yunnan.gif" alt="云南丽江 6 日游">
                        <figcaption>云南丽江 6 日游</figcaption>
                    </figure>
                    <figure> <img src="/static/images/recommend/shandong.gif" alt="山东青岛 5 日游">
                        <figcaption>山东青岛 5 日游</figcaption>
                    </figure>
                    <figure> <img src="/static/images/recommend/guangxi.jpg" alt="广西 6 日半游">
                        <figcaption>广西 6 日半游</figcaption>
                    </figure>
                    <figure> <img src="/static/images/recommend/qinghai.jpg" alt="青海新疆 9 日游">
                        <figcaption>青海新疆 9 日游</figcaption>
                    </figure>
                    <figure> <img src="/static/images/recommend/hainan.gif" alt="海南三亚 4日 5夜游">
                        <figcaption>海南三亚 4日 5夜游</figcaption>
                    </figure>
                </div>
            </div>
            <div class="sidebox treasure">
                <h2>旅游百宝箱</h2>
                <div class="box">
                    <a href="###" class="trea1">天气预报</a>
                    <a href="###" class="trea2">火车票查询</a>
                    <a href="###" class="trea3">航空查询</a>
                    <a href="###" class="trea4">地铁线路查询</a>
                </div>
            </div>
        </aside>
        <div class="state">
            <section>
                <h2>旅游合同签订方式？</h2>
                <p>旅行社应当提供带团号的《旅游行程安排单》（以下简称《行程单》），经双方签字或者盖章确认后作为本合同的组成部分。</p>
                <p>旅游者应当认真阅读本合同条款、《行程单》和《另行付费项目表》，在旅游者理解本合同条款及有关附件后，旅行社和旅游者应当签订书面合同。</p>
                <p>旅行社的旅游广告及宣传品应当遵循诚实信用的原则，其内容符合《中华人民共和国合同法》要约规定的，视为本合同的组成部分，对旅行社和旅游者双方具有约束力。</p>
                <p>本合同一式两份，双方各持一份，具有同等法律效力，自双方当事人签字或者盖章之日起生效。</p>
            </section>
            <p>&nbsp;</p>
            <section>
                <h2>联系我们</h2>
                <address>
                    <ul>
                        <li>乐途旅行股份有限公司</li>
                        <li>地址：陕西省西安市碑林区中铁国际 2019-03(2) 号</li>
                        <li>邮编：1234567</li>
                        <li>E-mail：letu@letu.com</li>
                        <li>电话：029-88888888</li>
                        <li>传真：029-88666666</li>
                    </ul>
                </address>
            </section>
        </div>
    </div>
    <footer id="footer">
        <div class="top">
            <div class="block left">
                <h2>合作伙伴</h2>
                <hr>
                <p><a href="http://www.tuniu.com">途牛旅游网</a></p>
                <p><a href="http://www.lvmama.com">驴妈妈旅游网</a></p>
                <p><a href="http://www.ctrip.com">携程旅行网</a></p>
                <p><a href="http://www.cytsonline.com">中国青年旅行社</a></p>
            </div>
            <div class="block center">
                <h2>旅游 FAQ</h2>
                <hr>
                <p><a href="/about/travelContract">旅游合同签订方式？</a></p>
                <p><a href="/about/childPrice">儿童价是基于什么制定的？</a></p>
                <p><a href="/about/touristRoute">旅游的线路品质怎么界定的？</a></p>
                <p><a href="/about/singleRoom">单房差是什么？</a></p>
                <p><a href="/about/travelInsuranceCategory">旅游保险有那些种类？</a></p>
            </div>
            <div class="block right">
                <h2>联系方式</h2>
                <hr>
                <ul>
                    <li>微博：weibo.com/letu</li>
                    <li>邮件：letu@letu.com</li>
                    <li>地址：陕西西安碑林区中铁第一国际9层</li>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <p>Copyright ©LT 乐途旅行网 | 陕ICP备120110109号 | 旅行网经营许可证： L-LT-BK12345</p>
            <img src="/static/images/home/pic.gif" title="站长统计">
        </div>
    </footer>
</body>

</html>