<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>乐途旅行</title>
    <link rel="stylesheet" href="/static/css/about/information.css">
    <link rel="stylesheet" href="/static/css/basic.css">
    <link rel="stylesheet" href="/static/css/trip/order.css">
    <link rel="stylesheet" href="/static/css/trip/new_order.css">
    <!-- <script src="../js/Calendar.js"></script> -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/hotel/layDate-v5.0.9/laydate/laydate.js"></script> <!-- 改成你的路径 -->
    <script>
        lay('#version').html('-v' + laydate.v);

        //执行一个laydate实例
        laydate.render({
            elem: '#from_date' //指定元素,即你要输入的框的id号即可
        });
        laydate.render({
            elem: '#to_date' //指定元素,即你要输入的框的id号即可
        });
    </script>
</head>
<body>
<header id="header">
    <div class="center">
        <h1 class="logo">
            <a href="/user" id="logoA">乐途旅行网</a>
        </h1>
        <nav>
            <ul class="link">
                <h1 class="none">网站导航</h1>
                <li><a href="/user">首页</a></li>
                <li><a href="/scenic">景点门票</a></li>
                <li class="active"><a href="/trip">交通出行</a></li>
                <li><a href="/hotel">酒店预定</a></li>
                <li><a href="/about">关于我们</a></li>
            </ul>
        </nav>

    </div>
</header>
<div id="headline">
    <div class="center">
        <hgroup>
            <h2>交通出行资讯</h2>
            <h3>介绍各种最新交通出行信息、资讯要闻等，为顾客的出行提供最好的服务</h3>
        </hgroup>

    </div>
</div>
<div id="container">
    <aside class="sidebar">
        <div class="sidebox recommend">
            <h2>美景推荐</h2>
            <div class="tag">
                <a href="###">陕西(10)</a>
                <a href="###">四川(10)</a>
                <a href="###">浙江(10)</a>
                <a href="###">广东(10)</a>
                <a href="###">云南(10)</a>
                <a href="###">江苏(10)</a>
                <a href="###">山东(10)</a>
                <a href="###">河南(10)</a>/
                <a href="###">湖北(10)</a>
                <a href="###">甘肃(10)</a>
                <a href="###">河北(10)</a>
                <a href="###">湖南(10)</a>
                <a href="###">广西(10)</a>
                <a href="###">新疆(10)</a>
                <a href="###">内蒙古(10)</a>
                <a href="###">北京(10)</a>
                <a href="###">海南(10)</a>
                <a href="###">贵州(10)</a>
                <a href="###">安徽(10)</a>
                <a href="###">青海(10)</a>
                <a href="###">上海(10)</a>
            </div>

        </div>
        <div class="sidebox popular">
            <h2>热卖旅游</h2>
            <div class="figure">
                <figure>
                    <img src="/static/images/recommend/xian.jpg" alt="西安 2 日游">
                    <figcaption>西安 2 日游</figcaption>
                </figure>
                <figure><img src="/static/images/recommend/beijing.jpg" alt="北京 5日 4晚 游">
                    <figcaption>北京 5日 4晚 游</figcaption>
                </figure>
                <figure><img src="/static/images/recommend/zhejiang.jpg" alt="浙江双飞 3 日游">
                    <figcaption>浙江双飞 3 日游</figcaption>
                </figure>
                <figure><img src="/static/images/recommend/yunnan.gif" alt="云南丽江 6 日游">
                    <figcaption>云南丽江 6 日游</figcaption>
                </figure>
                <figure><img src="/static/images/recommend/shandong.gif" alt="山东青岛 5 日游">
                    <figcaption>山东青岛 5 日游</figcaption>
                </figure>
                <figure><img src="/static/images/recommend/guangxi.jpg" alt="广西 6 日半游">
                    <figcaption>广西 6 日半游</figcaption>
                </figure>
                <figure><img src="/static/images/recommend/qinghai.jpg" alt="青海新疆 9 日游">
                    <figcaption>青海新疆 9 日游</figcaption>
                </figure>
                <figure><img src="/static/images/recommend/hainan.gif" alt="海南三亚 4日 5夜游">
                    <figcaption>海南三亚 4日 5夜游</figcaption>
                </figure>
            </div>
        </div>
        <div class="sidebox treasure">
            <h2>旅游百宝箱</h2>
            <div class="box">
                <a href="###" class="trea1">天气预报</a>
                <a href="###" class="trea2">火车票查询</a>
                <a href="###" class="trea3">航空查询</a>
                <a href="###" class="trea4">地铁线路查询</a>
            </div>
        </div>
    </aside>
    <div class="list order">
        <div class="form">
            <h2>高铁预订</h2>
            <p>
            <ul class="infor">
                <li>车票类型</li>
                <li><a href="###">单程</a></li>
                <li><a href="###">往返</a></li>

            </ul>
            </p>
            <form action="/trip/search" method="get">
                <div class="left">
                    <p>
                        <label for="from_city">出发城市</label>
                        <input type="text" name="from_city" placeholder="{{ from_station }}">
                        <label for="to_city">到达城市</label>
                        <input type="text" name="to_city" placeholder="{{ to_station }}">
                    </p>

                </div>
                <div class="center">
                    <p>
                        <label for="from_day">出发时间</label>
                        <input type="text" name="from_day" class="demo-input" placeholder="{{ from_date }}" id="from_date">
                        <label for="to_day">到达时间</label>
                        <input type="text" name="to_day" class="demo-input" placeholder="{{ to_date }}" id="to_date">
                    </p>

                </div>
                <div class="right">
                    <p>
                        <button class="button">查询</button>
                    </p>

                </div>
            </form>
        </div>
        <div class="new">
            <h2>最新车票</h2>
            <ul>
                <li>热门城市：</li>
                <li>北京</li>
                <li>上海</li>
                <li>广州</li>
                <li>深圳</li>
                <li>重庆</li>
                <li>成都</li>
                <li>杭州</li>
                <li>南京</li>
            </ul>
            <form action="">
                <table id="tab">
                    <thead>
                    <tr class="th" id="float">
                        <th width="90" colspan="1" rowspan="1">车次</th>
                        <th width="100" colspan="1" rowspan="1">出发站<br clear="none">
                            到达站
                        </th>
                        <th width="82" colspan="1" rowspan="1" id="startendtime"><span class="b1" id="s_time"
                                                                                       style="cursor: pointer;">出发时间</span><br><span
                                class="b2" id="r_time" style="cursor: pointer;">到达时间</span></th>
                        <th width="82" colspan="1" rowspan="1"><span class="b3" id="l_s"
                                                                     style="cursor: pointer;">历时</span>
                        </th>
                        <th width="66" colspan="1" rowspan="1">商务座<br clear="none">
                            特等座
                        </th>
                        <th width="66" colspan="1" rowspan="1">一等座</th>
                        <th width="66" colspan="1" rowspan="1">二等座</th>
                        <th width="66" colspan="1" rowspan="1">高级<br clear="none">
                            软卧
                        </th>
                        <th width="66" colspan="1" rowspan="1">软卧<br clear="none">
                            一等卧
                        </th>
                        <th width="66" colspan="1" rowspan="1">动卧</th>
                        <th width="66" colspan="1" rowspan="1">硬卧<br clear="none">
                            二等卧
                        </th>
                        <th width="66" colspan="1" rowspan="1">软座</th>
                        <th width="66" colspan="1" rowspan="1">硬座</th>
                        <th width="66" colspan="1" rowspan="1">无座</th>
                        <th width="66" colspan="1" rowspan="1">其他</th>
                        <th class="last" colspan="1" rowspan="1">备注</th>
                    </tr>
                    </thead>

                    <tbody id="query">
                    {% for foo in data %}
                        {% for f in data.foo %}
                        <tr class="th1" id="detail">
                            <td width="90" colspan="1" rowspan="1">{{ f.0 }}</td>
                            <td width="100" colspan="1" rowspan="1">{{f.1 }}<br clear="none">
                                {{ f.2 }}
                            </td>
                        </tr>
                        {% endfor %}

{#                        <tr class="th1" id="detail">#}
{#                            <td width="90" colspan="1" rowspan="1">{{ foo }}</td>#}
{#                            <td width="100" colspan="1" rowspan="1">{{ data.foo.1 }}<br clear="none">#}
{#                                {{ data.foo.2 }}#}
{#                            </td>#}
{#                            <td width="82" colspan="1" rowspan="1" id="startendtime"><span class="b1" id="s_time"#}
{#                                                                                           style="cursor: pointer;">{{ foo[start_time] }}</span><br><span#}
{#                                    class="b2" id="r_time" style="cursor: pointer;">{{ foo[arrive_time] }}</span></td>#}
{#                            <td width="82" colspan="1" rowspan="1"><span class="b3" id="l_s"#}
{#                                                                         style="cursor: pointer;">{{ foo[lishi] }}</span>#}
{#                            </td>#}
{#                            <td width="66" colspan="1" rowspan="1">{{ foo[swz_num] }}<br clear="none">#}
{#                                {{ foo[zy_num] }}#}
{#                            </td>#}
{#                            <td width="66" colspan="1" rowspan="1">{{ foo[ze_num] }}</td>#}
{#                            <td width="66" colspan="1" rowspan="1">{{ data[foo][7] }}</td>#}
{#                            <td width="66" colspan="1" rowspan="1">{{ data[foo][8] }}<br clear="none">#}
{#                                {{ data[foo][9] }}#}
{#                            </td>#}
{#                            <td width="66" colspan="1" rowspan="1">{{ data[foo][10] }}<br clear="none">#}
{#                                {{ data[foo][11] }}#}
{#                            </td>#}
{#                            <td width="66" colspan="1" rowspan="1">{{ data[foo][12] }}</td>#}
{#                            <td width="66" colspan="1" rowspan="1">{{ data[foo][13] }}<br clear="none">#}
{#                                {{ data[foo][14] }}#}
{#                            </td>#}
{#                            <td width="66" colspan="1" rowspan="1">{{ data[foo][15] }}</td>#}
{#                            <td width="66" colspan="1" rowspan="1">{{ data[foo][16] }}</td>#}
{#                            <td width="66" colspan="1" rowspan="1">{{ data[foo][17] }}</td>#}
{#                            <td width="66" colspan="1" rowspan="1">{{ data[foo][18] }}</td>#}
{#                            <td class="last" colspan="1" rowspan="1">预定</td>#}
{#                        </tr>#}
                    {% endfor %}


                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
<footer id="footer">
    <div class="top">
        <div class="block left">
            <h2>合作伙伴</h2>
            <hr>
            <p><a href="http://www.tuniu.com">途牛旅游网</a></p>
            <p><a href="http://www.lvmama.com">驴妈妈旅游网</a></p>
            <p><a href="http://www.ctrip.com">携程旅行网</a></p>
            <p><a href="http://www.cytsonline.com">中国青年旅行社</a></p>
        </div>
        <div class="block center">
            <h2>旅游 FAQ</h2>
            <hr>
            <p><a href="/about/travelContract">旅游合同签订方式？</a></p>
            <p><a href="/about/childPrice">儿童价是基于什么制定的？</a></p>
            <p><a href="/about/touristRoute">旅游的线路品质怎么界定的？</a></p>
            <p><a href="/about/singleRoom">单房差是什么？</a></p>
            <p><a href="/about/travelInsuranceCategory">旅游保险有那些种类？</a></p>
        </div>
        <div class="block right">
            <h2>联系方式</h2>
            <hr>
            <ul>
                <li>微博：weibo.com/letu</li>
                <li>邮件：letu@letu.com</li>
                <li>地址：陕西西安碑林区中铁第一国际9层</li>
            </ul>
        </div>
    </div>
    <div class="bottom">
        <p>Copyright ©LT 乐途旅行网 | 陕ICP备120110109号 | 旅行网经营许可证： L-LT-BK12345</p>
        <img src="/static/images/home/pic.gif" title="站长统计">
    </div>
</footer>
</body>

</html>