<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>景点门票-限时特价</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/scenic/information.css' %}">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
    <link rel="stylesheet" href="{% static 'css/scenic/ticket.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
</head>

<body>
    <header id="header">
        <div class="center">
            <h1 class="logo">
                <a href="../index.html" id="logoA">乐途旅行网</a>
            </h1>
            <nav>
                <ul class="link">
                    <h1 class="none">网站导航</h1>
                    <li><a href="/">首页</a></li>
                    <li class="active"><a href="/scenic">景点门票</a></li>
                    <li><a href="/trip">交通出行</a></li>
                    <li><a href="/hotel">酒店预定</a></li>
                    <li><a href="/about">关于我们</a></li>
                </ul>
            </nav>

        </div>
    </header>
    <div id="headline" style="background-image:url({% static 'images/scenic/information2/headline.jpg' %})">
        <div class="center">
            <hgroup>
                <h2>景点门票</h2>
                <h3>介绍各种最新旅游信息、资讯要闻、景点攻略、门票购买等</h3>
            </hgroup>

        </div>
    </div>
    <div id="container">
        <aside class="sidebar">
            <div class="sidebox recommend">
                <h2>美景推荐</h2>
                <div class="tag">
                    <a href="###">陕西(10)</a>
                    <a href="###">四川(10)</a>
                    <a href="###">浙江(10)</a>
                    <a href="###">广东(10)</a>
                    <a href="###">云南(10)</a>
                    <a href="###">江苏(10)</a>
                    <a href="###">山东(10)</a>
                    <a href="###">河南(10)</a>
                    <a href="###">湖北(10)</a>
                    <a href="###">甘肃(10)</a>
                    <a href="###">河北(10)</a>
                    <a href="###">湖南(10)</a>
                    <a href="###">广西(10)</a>
                    <a href="###">新疆(10)</a>
                    <a href="###">内蒙古(10)</a>
                    <a href="###">北京(10)</a>
                    <a href="###">海南(10)</a>
                    <a href="###">贵州(10)</a>
                    <a href="###">安徽(10)</a>
                    <a href="###">青海(10)</a>
                    <a href="###">上海(10)</a>
                </div>

            </div>
            <div class="sidebox popular">
                <h2>热卖旅游</h2>
                <div class="figure">
                    <figure>
                        <img src="{% static 'images/scenic/recommend/xian.jpg' %}" alt="西安 2 日游">
                        <figcaption>西安 2 日游</figcaption>
                    </figure>
                    <figure> <img src="{% static 'images/scenic/recommend/beijing.jpg' %}" alt="北京 5日 4晚 游">
                        <figcaption>北京 5日 4晚 游</figcaption>
                    </figure>
                    <figure> <img src="{% static 'images/scenic/recommend/zhejiang.jpg' %}" alt="浙江双飞 3 日游">
                        <figcaption>浙江双飞 3 日游</figcaption>
                    </figure>
                    <figure> <img src="{% static 'images/scenic/recommend/yunnan.gif' %}" alt="云南丽江 6 日游">
                        <figcaption>云南丽江 6 日游</figcaption>
                    </figure>
                    <figure> <img src="{% static 'images/scenic/recommend/shandong.gif' %}" alt="山东青岛 5 日游">
                        <figcaption>山东青岛 5 日游</figcaption>
                    </figure>
                    <figure> <img src="{% static 'images/scenic/recommend/guangxi.jpg' %}" alt="广西 6 日半游">
                        <figcaption>广西 6 日半游</figcaption>
                    </figure>
                    <figure> <img src="{% static 'images/scenic/recommend/qinghai.jpg' %}" alt="青海新疆 9 日游">
                        <figcaption>青海新疆 9 日游</figcaption>
                    </figure>
                    <figure> <img src="{% static 'images/scenic/recommend/hainan.gif' %}" alt="海南三亚 4日 5夜游">
                        <figcaption>海南三亚 4日 5夜游</figcaption>
                    </figure>
                </div>
            </div>
            <div class="sidebox treasure">
                <h2>旅游百宝箱</h2>
                <div class="box">
                    <a href="###" class="trea1">天气预报</a>
                    <a href="###" class="trea2">火车票查询</a>
                    <a href="###" class="trea3">航空查询</a>
                    <a href="###" class="trea4">地铁线路查询</a>
                </div>
            </div>
        </aside>
        <div class="list">
            <!-- 子导航栏 -->
            <div class="infor">
                <ul class="left">
                    <li><a href="/scenic">限时特价</a></li>
                    <li><a href="/scenic/scenic2">热门推荐</a></li>
                    <!-- <li><a href="##">景点门票</a></li> -->
                </ul>
                <ul class="right">
                    <li><a href="###" class="select">旅游攻略</a></li>
                    <li><a href="###">最新咨讯</a></li>
                    <li><a href="###">游客评论</a></li>
                </ul>
            </div>
            <!-- 加载子条目 -->

            <figure class="tour">
               <a href="##"> <img src="{% static 'images/scenic/info/huaqingchi.jpg' %}" alt="限时特价"></a>
               <figcaption>                   
                    <article>
                        <header>
                            <hgroup>
                                <h2>盛唐皇家宫苑</h2>
                                <h3>自然造化的山地温泉，让周、秦、汉、隋、唐历代帝王皆在此营建离宫别苑。</h3>
                            </hgroup>

                        </header>
                        <ol>
                            <li><mark>公车</mark>从火车站（东广场）乘坐914、915、游5（306）路公交</li>
                            <li><mark>自驾</mark>G30连霍高速-108国道-秦唐大道</li>
                        </ol>

                        <footer>
                            由乐途旅行网赞助提供，截止于 <time>2019-9-20</time>
                        </footer>
                    </article>
                    <div class="buy">
                        <div class="price">￥<strong>30起</strong><s>￥60</s></div>
                        <div class="reserve"><a href="##">立即抢购</a></div>
                    </div>
                    <div class="type">华清池</div>
                    <div class="disc"><span>５.0折</span></div>  
                </figcaption>
            </figure>
            
            <figure class="tour">
                <a href="##"><img src="{% static 'images/scenic/info/datangfurongyuan.jpg' %}" alt="限时特价"></a>
                <figcaption>
                    <article>
                        <header>
                            <hgroup>
                                <h2>唐文化主题公园</h2>
                                <h3>创演盛世气概，梦回盛唐帝国。用宏大气势，震慑游客。</h3>
                            </hgroup>

                        </header>
                        <ol>
                            <li><mark>公车</mark>乘坐公交5、19、21、22、24、27、30、34等均可到达</li>
                            <li><mark>自驾</mark>市内芙蓉西路</li>
                        </ol>

                        <footer>
                            由乐途旅行网赞助提供，截止于 <time>2019-9-10</time>
                        </footer>
                    </article>
                    <div class="buy">
                        <div class="price">￥<strong>50起</strong><s>￥90</s></div>
                        <div class="reserve"><a href="###">立即抢购</a></div>
                    </div>
                    <div class="type">大唐芙蓉园</div>
                    <div class="disc"><span>5.6折</span></div>
                </figcaption>

            </figure>
            <figure class="tour">
                <a href="##"><img src="{% static 'images/scenic/info/mingchengqiang.jpg' %}" alt="限时特价"></a>
                <figcaption>
                    <article>
                        <header>
                            <hgroup>
                                <h2>城垣建筑</h2>
                                <h3>细数这些城门的名称来历，也从一个侧面反映了古城的沉浮丧衰。

                                </h3>
                            </hgroup>

                        </header>
                        <ol>
                            <li><mark>公交</mark> 公交5、18、215、603、611路均可到达</li>
                            <li><mark>自驾</mark>市内环城东路南段</li>
                        </ol>

                        <footer>
                            由乐途旅行网赞助提供，截止于 <time>2019-8-20</time>
                        </footer>
                    </article>
                    <div class="buy">
                        <div class="price">￥<strong>60起</strong><s>￥100</s></div>
                        <div class="reserve"><a href="###">立即抢购</a></div>
                    </div>
                    <div class="type">明城墙</div>
                    <div class="disc"><span>６.0折</span></div>
                </figcaption>

            </figure>
            <figure class="tour">
                <a href="##"><img src="{% static 'images/scenic/info/lishiguan.jpg' %}" alt="限时特价"></a>
                <figcaption>
                    <article>
                        <header>
                            <hgroup>
                                <h2>国家级历史类大型博物馆</h2>
                                <h3>陕西历史博物馆则是展示陕西历史文化和中国古代文明的艺术殿堂。</h3>
                            </hgroup>

                        </header>
                        <ol>
                            <li><mark>公车</mark>公交5路、4路、701路、710路等均可到达陕西历史博物馆</li>
                            <li><mark>自驾</mark>市内翠华路</li>
                        </ol>

                        <footer>
                            由乐途旅行网赞助提供，截止于 <time>2019-9-1</time>
                        </footer>
                    </article>
                    <div class="buy">
                        <div class="price">￥<strong>35起</strong><s>￥60</s></div>
                        <div class="reserve"><a href="###">立即抢购</a></div>
                    </div>
                    <div class="type">陕西历史博物馆</div>
                    <div class="disc"><span>5.8折</span></div>
                </figcaption>

            </figure>
            <figure class="tour">
                <a href="##"><img src="{% static 'images/scenic/info/xiaoyanta.jpg' %}" alt="限时特价"></a>
                <figcaption>
                    <article>
                        <header>
                            <hgroup>
                                <h2>荐福寺塔</h2>
                                <h3>一个砖塔经过6次地震不倒塌，反而自然复合起来，确是一件奇事。</h3>
                            </hgroup>

                        </header>
                        <ol>
                            <li><mark>公车</mark>乘坐五龙专线、700、707、713路等公交到“小雁塔”站</li>
                            <li><mark>自驾</mark>西安市内友谊西路</li>
                        </ol>

                        <footer>
                            由乐途旅行网赞助提供，截止于 <time>2019-8-10</time>
                        </footer>
                    </article>
                    <div class="buy">
                        <div class="price">￥<strong>50起</strong><s>￥80</s></div>
                        <div class="reserve"><a href="###">立即抢购</a></div>
                    </div>
                    <div class="type">小雁塔</div>
                    <div class="disc"><span>6.3折</span></div>
                </figcaption>

            </figure>
            <figure class="tour">
                <a href="##"><img src="{% static 'images/scenic/info/qinlingdigong.jpg' %}" alt="限时特价"></a>
                <figcaption>
                    <article>
                        <header>
                            <hgroup>
                                <h2>辉煌雄伟秦皇陵</h2>
                                <h3>蜡像雕塑与壁画结合，再现了秦始皇生前的一些重要活动场面。</h3>
                            </hgroup>

                        </header>
                        <ol>
                            <li><mark>公交</mark> 地铁1号线 → 307路 → 临潼201路 → 临潼303路</li>
                            <li><mark>自驾</mark> 环城北路- 华清西路-华清东路-东城大道-G108-秦陵北路到终点</li>
                        </ol>

                        <footer>
                            由乐途旅行网赞助提供，截止于 <time>2019-8-15</time>
                        </footer>
                    </article>
                    <div class="buy">
                        <div class="price">￥<strong>40起</strong><s>￥７０</s></div>
                        <div class="reserve"><a href="###">立即抢购</a></div>
                    </div>
                    <div class="type">秦陵地宫</div>
                    <div class="disc"><span>5.7折</span></div>
                </figcaption>

            </figure>
            <figure class="tour">
                <a href="##"><img src="{% static 'images/scenic/info/changhenge.jpg' %}" alt="限时特价"></a>
                <figcaption>
                    <article>
                        <header>
                            <hgroup>
                                <h2>首部大型实景历史舞剧</h2>
                                <h3>以骊山山体为背景，以华清池九龙湖做舞台,万星闪烁的梦幻天空。</h3>
                            </hgroup>

                        </header>
                        <ol>
                            <li><mark>公车</mark> 306路旅游专线车或915路西潼高速</li>
                            <li><mark>自驾</mark>G30连霍高速转108国道</li>
                        </ol>

                        <footer>
                            由乐途旅行网赞助提供，截止于 <time>2019-9-5</time>
                        </footer>
                    </article>
                    <div class="buy">
                        <div class="price">￥<strong>60起</strong><s>￥80</s></div>
                        <div class="reserve"><a href="###">立即抢购</a></div>
                    </div>
                    <div class="type">长恨歌</div>
                    <div class="disc"><span>7.5</span></div>
                </figcaption>

            </figure>
            <figure class="tour">
                <a href="##"><img src="{% static 'images/scenic/info/qinlingdongwuyuan.jpg' %}" alt="限时特价"></a>
                <figcaption>
                    <article>
                        <header>
                            <hgroup>
                                <h2>野生动物保护教育基地</h2>
                                <h3>徜徉在丛林与花径之间，听百鸟与清风唱和，看猛兽与群山相伴。</h3>
                            </hgroup>
                        </header>
                        <ol>
                            <li><mark>公车</mark> 环山旅游１号线、334路</li>
                            <li><mark>自驾</mark> 西安火车站---曲江路----包茂高速公路-----关中环线-----西安秦岭野生动物园。</li>
                        </ol>

                        <footer>
                            由乐途旅行网赞助提供，截止于 <time>2019-8-10</time>
                        </footer>
                    </article>
                    <div class="buy">
                        <div class="price">￥<strong>60起</strong><s>￥７０</s></div>
                        <!--<div class="reserve"><a href="ticket.html">立即抢购</a></div>-->
                        <div class="reserve"><a href="/scenic/ticket">立即抢购</a></div>

                    </div>
                    <div class="type">秦岭野生动物园</div>
                    <div class="disc"><span>8.6折</span></div>
                </figcaption>

            </figure>
            <figure class="tour">
                <a href="##"><img src="{% static 'images/scenic/info/zhuquegongyuan.jpg' %}" alt="限时特价"></a>
                <figcaption>
                    <article>
                        <header>
                            <hgroup>
                                <h2>避暑佳境</h2>
                                <h3>国家森林公园，以自然山水为基础，天然森林为主体的自然风景旅游区。</h3>
                            </hgroup>

                        </header>
                        <ol>
                            <li><mark>公车</mark> 直通车：西安省体育场西门——朱雀国家森林公园</li>
                            <li><mark>自驾</mark> 经西安绕城高速上（汉中、重庆）方向的高速到朱雀出口处</li>
                        </ol>

                        <footer>
                            由乐途旅行网赞助提供，截止于 <time>2019-8-6</time>
                        </footer>
                    </article>
                    <div class="buy">
                        <div class="price">￥<strong>60起</strong><s>￥８０</s></div>
                        <div class="reserve"><a href="###">立即抢购</a></div>
                    </div>
                    <div class="type">朱雀森林公园</div>
                    <div class="disc"><span>7.5折</span></div>
                </figcaption>

            </figure>
            <div class="more"><a href="###">加载更多...</a></div>

        </div>
    </div>
    <footer id="footer">
        <div class="top">
            <div class="block left">
                <h2>合作伙伴</h2>
                <hr>
                <p><a href="http://www.tuniu.com">途牛旅游网</a></p>
                <p><a href="http://www.lvmama.com">驴妈妈旅游网</a></p>
                <p><a href="http://www.ctrip.com">携程旅行网</a></p>
                <p><a href="http://www.cytsonline.com">中国青年旅行社</a></p>
            </div>
            <div class="block center">
                <h2>旅游 FAQ</h2>
                <hr>
                <p><a href="/about/travelContract">旅游合同签订方式？</a></p>
                <p><a href="/about/childPrice">儿童价是基于什么制定的？</a></p>
                <p><a href="/about/touristRoute">旅游的线路品质怎么界定的？</a></p>
                <p><a href="/about/singleRoom">单房差是什么？</a></p>
                <p><a href="/about/travelInsuranceCategory">旅游保险有那些种类？</a></p>
            </div>
            <div class="block right">
                <h2>联系方式</h2>
                <hr>
                <ul>
                    <li>微博：weibo.com/letu</li>
                    <li>邮件：letu@letu.com</li>
                    <li>地址：陕西西安碑林区中铁第一国际9层</li>
                </ul>
            </div>
        </div>
        <div class="bottom">
                <p>Copyright ©LT 乐途旅行网 | 陕ICP备120110109号 | 旅行网经营许可证： L-LT-BK12345</p>
                <img src="{% static 'images/scenic/booking/pic.gif' %}" title="站长统计">
            </div>
    </footer>
</body>

</html>