<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>酒店详情</title>
    <link rel="stylesheet" href="../../static/css/hotel/home.css">
    <link rel="stylesheet" href="../../static/css/hotel/basic.css">
    <link rel="stylesheet" href="../../static/css/hotel/hotel_ticket.css">
</head>
<script src="../../static/js/hotel/jquery.js"></script>
<script src="../../static/js/hotel/map.js"></script>
<script src="../../static/js/hotel/order.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=DVz4AM0f5tDaH8dZwBCjRzHxuaKn3x7x"></script>
<script type="text/javascript" src="../../static/js/hotel/prefixfree.min.js"></script>
<script type="text/javascript" src="../../static/js/hotel/hotel_ticket.js"></script>
 <!-- <script type="text/javascript" src="../js/hotel_ticket/zoom-slideshow.js"></script>
<!<script src='../js/hotel_ticket/tic.js'></script> -->
 <script src="../../static/js/hotel/layDate-v5.0.9/laydate/laydate.js"></script>
<body>
    <header id="header">
        <div class="login">
            <b>
                <div id="cart"><a href="">我的订单</a></div>
            </b>
            <b>
                <div id="register"><a href="../user/register.html">免费注册</a></div>
            </b>
            <b>
                <div id="login"><a href="../user/login.html">您好,请登录</a></div>
            </b>
        </div>
        <div class="center">
            <h1 class="logo">
                <a href="../index.html" id="logoA">乐途旅行网</a>
            </h1>

            <nav>
                <ul class="link">
                    <h1 class="none">网站导航</h1>
                    <li><a href="../index.html">首页</a></li>
                    <li><a href="../scenic/information.html">景点门票</a></li>
                    <li><a href="../about/order.html">交通出行</a></li>
                    <li class="active"><a href="order_hotel.html">酒店预定</a></li>
                    <li><a href="../about/about.html">关于我们</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="bodyer1">
        <!-- <div class="imgs">
            <img src="../img/info/qinlingdongwuyuan.jpg" alt="图片加载中">
        </div> -->
        <div><b>{{ hotel_name }}</b></div>
        <div id="content">
            <div id="view">
                <img src="{{ hotel_p11 }}" alt="Nature1" />
                <img src="{{ hotel_p12 }}" alt="Nature2" />
                <img src="{{ hotel_p13 }}" alt="Nature3" />
                <img src="{{ hotel_p14 }}" alt="Nature4" />
                <img src="{{ hotel_p15 }}" alt="Nature5" />
            </div>
            <div id="pics-thumbs">
                    <img src="{{ hotel_p11 }}" alt="Nature1" />
                    <img src="{{ hotel_p12 }}" alt="Nature2" />
                    <img src="{{ hotel_p13 }}" alt="Nature3" />
                    <img src="{{ hotel_p14 }}" alt="Nature4" />
                    <img src="{{ hotel_p15 }}" alt="Nature5" />
            </div>
        </div>
        <div class="sDetails">
           <div class="hotel_info">
               <div id="hotel_info_1">4.5分</div>
               <a href="##">1345位住客已评论</a>

           </div  >
           <div class="hotel_info">2011年装修 2011年开业
               <br>电话：{{phone}}{#029-87388888#}
               <br>地址：{{address}}{#新城区东新街199号（近民乐园）#}
            </div>
           <div class="hotel_info">
               <div class="wifi">
                   <img src="../../static/images/hotel/wifi.png">无线上网
               </div>
               <div class="wifi">
                   <img src="../../static/images/hotel/computer.png">有线上网
               </div>
               <div class="wifi">
                   <img src="../../static/images/hotel/p.png">收费停车
               </div>
               <div class="wifi">
                   <img src="../../static/images/hotel/canting.png">餐厅
               </div>
           </div>
        </div>
    </div>

    <div id="bodytickrt">
        <div class=daohang style="background:orange;">
            <a href="##">房间订购</a>
            <a href="../scenic/information.html">周围景点</a>
        </div>

        <div class=count>

            <span>
                已预定：
                <b class="total-num">0</b>
                间房间 &nbsp&nbsp&nbsp
                共计：
                <b class="total-price">0.00</b>
                元
                <a href="##">预定</a>
            </span>

        </div>

        <div class="info">
            <!--顶部工具栏-->
            <div class="type">
                <div class="check">
{#                    <img src="../img/cart/product_normal.png" class="checkAll">#}
                    全选
                </div>
                <!-- <div class=gper>人员</div> -->
                <div class="gname">房型信息</div>
                <div class=gpt>提前预定时间</div>
                <div class="gprice">单价（元）</div>
                <div class="gcount">数量</div>
                <div class="gsum">金额</div>
            </div>

            <div class="conten">
                <!--购票信息-->
                <div class="item">
                    <div class="check">
{#                        <img src="../img/cart/product_normal.png" class="checkItem">#}
                        
                    </div>
                    <div class="gname">
                        <img src="{#../img/hohel_ticket/fulixierdun/f1.jpg#}{{ room1_p }}">
                        <p><b>{# 希尔顿大床房 #}{{ room1_name }}</b></p>
                        <p>{#窗户  有#}{{ room1_window }}</p>
                        <p>{#面积  43㎡#}{{ room1_area }}</p>
                        <p>{#床型  大床1.8×2.0米1张#}{{room1_bed  }}</p>
                    </div>
                    <div class=gpt>
                        <p>入住时间：<input type="text" id="from_date1" name="" placeholder="请选择入住日期"></p>
                        <p>预计搬出：<input type="text" id="to_date1" name="" placeholder="请选择退房日期"></p>
                    </div>
                    <div class="gprice">
                        <h3>乐涂专享价</h3>
                        <p>￥ {#977.00#}{{ room1_price }}</p>
                    </div>
                    <div class="gcount">
                        <!--阻止超链接默认事件-->
                        <a href="javascript:void(0)" class="minus">-</a>
                        <input type="text" value="1">
                        <a href="javascript:void(0)" class="add">+</a>

                    </div>
                    <div class="gsum">￥ 977.00</div>
                    <div class="action"><a href="##">直接订房</a></div>              
                </div>
                 <div class="item">
                    <div class="check">
                        <img src="{#  ../img/cart/product_normal.png#}" class="checkItem">
                        
                    </div>
                    <div class="gname">
                        <img src="{#../img/hohel_ticket/fulixierdun/f2.jpg#}{{ room2_p }}">
                        <p><b>{#希尔顿双床客房#}{{ room2_name }}</b></p>
                        <p>{#  窗户  有#}{{ room2_window }}</p>
                        <p>{#面积  43㎡#}{{ room2_area }}</p>
                        <p>{#床型  大床1.5×1.8米2张#}{{ room2_bed }}</p>
                    </div>
                    <div class=gpt>
                        <p>入住时间：<input type="text" id="from_date2" name="" placeholder="请选择入住日期"></p>
                        <p>预计搬出：<input type="text" id="to_date2" name="" placeholder="请选择退房日期"></p>
                    </div>
                    <div class="gprice">
                        <h3>乐涂专享价</h3>
                        <p>￥ {#997.00#}{{ room2_price }}</p>
                    </div>
                    <div class="gcount">
                        <!--阻止超链接默认事件-->
                        <a href="javascript:void(0)" class="minus">-</a>
                        <input type="text" value="1">
                        <a href="javascript:void(0)" class="add">+</a>

                    </div>
                    <div class="gsum">￥ 997.00</div>
                    <div class="action"><a href="##">直接订房</a></div>              
                </div>
                 <div class="item">
                    <div class="check">
                        <img src="../img/cart/product_normal.png" class="checkItem">
                        
                    </div>
                    <div class="gname">
                        <img src="{#../img/hohel_ticket/fulixierdun/f3.jpg#}{{ room3_p }}">
                        <p><b>{#希尔顿豪华套房#}{{ room3_name }}</b></p>
                        <p>{#窗户  有#}{{ room3_window }}</p>
                        <p>{#面积  50㎡#}{{ room3_area }}</p>
                        <p>{#床型  大床1.8×2.0米1张#}{{ room3_bed }}</p>
                    </div>
                    <div class=gpt>
                        <p>入住时间：<input type="text" id="from_date3" name="" placeholder="请选择入住日期"></p>
                        <p>预计搬出：<input type="text" id="to_date3" name="" placeholder="请选择退房日期"></p>
                    </div>
                    <div class="gprice">
                        <h3>乐涂专享价</h3>
                        <p>￥ {#1196.00#}{{ room3_price }}</p>
                    </div>
                    <div class="gcount">
                        <!--阻止超链接默认事件-->
                        <a href="javascript:void(0)" class="minus">-</a>
                        <input type="text" value="1">
                        <a href="javascript:void(0)" class="add">+</a>

                    </div>
                    <div class="gsum">￥ 1196.00</div>
                    <div class="action"><a href="##">直接订房</a></div>              
                </div>
            </div>
        </div>
    </div>

    <div id="guid">
        <div class="daohang" style="background:orange;">
            <a href="##">酒店信息</a>
            <a href="#JTZN">交通指南</a>
        </div>
        <div class="produce_con">
        
            <p><b>联系方式:</b>{{ phone }}</p>
            <p><b>酒店信息:</b>2011年装修2011年开业</p>
            <p><b>酒店简介:</b>{{ infor }}{#  西安富力希尔顿酒店坐落于古城西安市中心，周边繁华购物区林立，是商务出行和休闲度假的理想之选。步行即可到达闻名于世的明城墙和西安地标建筑钟楼。乘坐出租车仅需5分钟即可到达东大街、骡马市步行街及回民街，这里有西安特色的餐厅、购物及娱乐场所。 拥有城中稀缺宽敞大容量客房，西安富力希尔顿酒店客房面积均大于43平方米。酒店高雅的客房别出心裁将唐朝元素融入其中，并突出了房间的温馨舒适。所有客房均配备高速宽带无线上网及高水准的客用品。 西安富力希尔顿酒店将成为您在西安的会议和用餐新选择。三间风格各异的餐厅及酒吧、一间1200平方米的大宴会厅及6间多功能厅可为您提供多种规模的会议及宴会需求。#}
            </p>
            <p><b>酒店政策:</b>入住时间: 15:00以后 离店时间: 12:00之前</p>
        </div>
        <div id="JTZN">
            <div class="c-wrapper-style">
                <i class="detail-icon-3">交通指南</i>
                <span id="map_td"></span>
            </div>
            <div id="smap">
                	<div id="allmap"></div>
            </div>
        </div>
    </div>

    <footer id="footer">
        <div class="top">
            <div class="block left">
                <h2>合作伙伴</h2>
                <hr>
                <p><a href="http://www.tuniu.com">途牛旅游网</a></p>
                <p><a href="http://www.lvmama.com">驴妈妈旅游网</a></p>
                <p><a href="http://www.ctrip.com">携程旅行网</a></p>
                <p><a href="http://www.cytsonline.com">中国青年旅行社</a></p>
            </div>
            <div class="block center">
                <h2>旅游 FAQ</h2>
                <hr>
                <p><a href="../about/travelContract.html">旅游合同签订方式？</a></p>
                <p><a href="../about/childPrice.html">儿童价是基于什么制定的？</a></p>
                <p><a href="../about/touristRoute.html">旅游的线路品质怎么界定的？</a></p>
                <p><a href="../about/singleRoom.html">单房差是什么？</a></p>
                <p><a href="../about/travelInsuranceCategory.html">旅游保险有那些种类？</a></p>
            </div>
            <div class="block right">
                <h2>联系方式</h2>
                <hr>
                <ul>
                    <li>微博：weibo.com/letu</li>
                    <li>邮件：letu@letu.com</li>
                    <li>地址：陕西西安碑林区中铁第一国际9层</li>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <p>Copyright ©LT 乐途旅行网 | 陕ICP备120110109号 | 旅行网经营许可证： L-LT-BK12345</p>
            <img src="../../static/images/hotel/pic.gif" title="站长统计">
        </div>
    </footer>
</body>
</html>