#search {
    width: 90%;
    /* 宽度为100%，但缩小屏幕，小于1280时，底部依旧会出现滚动条 */
    min-width: 1263px;
    /* 如果分辨率小于1280，固定在1280即可，不必自适应 */
    height: 750px;
    margin: 10px auto;
}

#search #imgd {
    width: 80%;
    height: 720px;
    margin: 0 auto;
    position: relative;
}

#imgd img {
    width: 100%;
    height: 100%;
    display: none;
}

#imgd #src1 img {
    display: block;
}

#imgd ul {
    width: 140px;
    position: absolute;
    bottom: 40px;
    /*根据参照物相应方向的值计算偏移距离*/
    left: 50%;
    margin-left: -70px;
    /* background:red; */
}

#imgd li {
    float: left;
    width: 13px;
    height: 13px;
    border: 1px solid #333;
    border-radius: 50%;
    margin-right: 10px;
    background: rgba(0, 0, 0, 0);
}

#imgd ul li:last-child {
    margin: 0;
}

#imgd ul li:first-child {
    background: #fff;
}

#imgd .left, #imgd .right {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 50px;
    height: 100px;
    background: rgba(0, 0, 0, 0.4) url(../../images/home/arrow-left.png) no-repeat center;
    border-radius: 5px;
}

#imgd .left {
    left: 5px;
}

#imgd .right {
    right: 5px;
    background-image: url(../../images/home/arrow-right.png);
}


#search .center {
    width: 580px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0px 0px -300px;
    border-radius: 10px;

}

#search .input {
    width: 446px;
    height: 54px;
    border-radius: 10px;
    color: #666;
    font-size: 24px;
    position: absolute;
    outline: none;
    border: 1px solid #666;
    top: 2px;
    left: 4px;
    padding: 0px;
    background-color: #eee;

}

#search .button {
    position: absolute;
    width: 120px;
    height: 54px;
    color: #666;
    border-radius: 10px;
    border: 1px solid #666;
    top: 2px;
    right: 4px;
    font-size: 22px;
    font-weight: bold;
    background-color: #eee;
    outline: none;
    cursor: pointer;
}

#tour {
    width: 1263px;
    height: 1170px;
    /* background-color: red; */
    margin: 0 auto;
    text-align: center;

}

#tour .center h2 {
    margin: 10px 0;
    font-size: 45px;
    letter-spacing: 2px;
    color: #666;
}

#tour .center p {
    margin: 10px 0;
    color: #666;
}

/*首页搜索框*/
#tour #search2 {
    height: 36px;
    position: relative;

}

#tour #search2 input {
    vertical-align: top;
    width: 420px;
    height: 34px;
    padding: 1px 40px 1px 20px;
    border: 1px solid #999;
    border-radius: 18px;
    font-size: 15px;
    outline: none;
}

#tour #search2 input:hover, #tour #search2:hover {
    outline: none;
}

#tour #search2 img:hover {
    outline: none;
}

#tour #search2 img {
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 18px;
    position: absolute;
    margin-left: -38px;
}

#tour figure {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    text-align: left;
    width: 380px;
    height: 255px;
    position: relative;
    margin: 15px 12px;
}

/* #tour figure img:hover{
    width:400px; 
} */
#tour figure:hover {
    border: 1px solid red;
}

#tour figure img {
    vertical-align: middle;
    width: 380px;
    height: 255px;
}

#tour figcaption {
    color: #777;
    font-size: 14px;
    padding: 5px 0 0 0;
    letter-spacing: 1px;
    /* line-height: 1.5px; */
    height: 42px;
    overflow: auto;
}

#tour .title {
    color: #333;
    font-weight: normal;

}


#tour .sat {
    float: right;
    font-size: 13px;
    font-style: normal;
    position: relative;
    right: 5px;
    top: 5px;
    color: #999;
}

#tour .price {
    color: #f60;
    font-size: 14px;
}

#tour .price strong {
    font-size: 16px;
    letter-spacing: 1px;
}

#tour .type {
    width: 90px;
    height: 25px;
    line-height: 25px;
    /* 垂直居中 */
    position: absolute;
    top: 4px;
    left: 4px;
    color: white;
    background-color: #59b200;
    text-align: center;
    letter-spacing: 1px;
    border-bottom-right-radius: 4px;
}
